[Unit]
Description=Create users on start of system

[Service]
EnvironmentFile=/etc/sysconfig/smb/createusers
Type=oneshot
ExecStart=/usr/local/sbin/createusers.sh

[Install]
WantedBy=smb.service
